<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.geraldcode.findapp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icono_find_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icono_find_app_round"
        android:supportsRtl="true"
        android:testOnly="false"
        android:theme="@style/Theme.FindApp"
        tools:targetApi="31">
        <activity
            android:name=".Controller.admin.ActualizarPassAdmin"
            android:exported="false" />
        <activity
            android:name=".Controller.admin.DetalleNotaAdmin"
            android:exported="false" />
        <activity
            android:name=".Controller.admin.NotasImportantesAdmin"
            android:exported="false" />
        <activity
            android:name=".Controller.admin.ActualizarNotaAdmin"
            android:exported="false" />
        <activity
            android:name=".Controller.admin.ListarNotasAdmin"
            android:exported="false" />
        <activity
            android:name=".Controller.admin.AgregarNotaAdmin"
            android:exported="false" />
        <activity
            android:name=".Controller.user.DetalleNota"
            android:exported="false" />
        <activity
            android:name=".Controller.user.ActualizarNota"
            android:exported="false" />
        <activity
            android:name=".Controller.user.EditarImagenPerfilUser"
            android:exported="false" />
        <activity
            android:name=".Controller.user.DetalleObjetoUser"
            android:exported="false" />
        <activity
            android:name=".Controller.user.PerfilUserCommon"
            android:exported="false" />
        <activity
            android:name=".Controller.user.ListObjectsUser"
            android:exported="false" />
        <activity
            android:name=".Controller.user.NotasImportantes"
            android:exported="false" />
        <activity
            android:name=".Controller.user.ListarNotas"
            android:exported="false" />
        <activity
            android:name=".Controller.user.AgregarNota"
            android:exported="false" />
        <activity
            android:name=".Controller.user.ConfiguracionUser"
            android:exported="false" />
        <activity
            android:name=".Controller.user.RegistroEstudiante"
            android:exported="false" />
        <activity
            android:name=".Controller.user.LoginEstudiante"
            android:exported="false" />
        <activity
            android:name=".MainActivityEstudiante"
            android:exported="false" />
        <activity
            android:name=".Controller.user.MenuPrincipalEstudiante"
            android:exported="false" />
        <activity
            android:name=".Controller.admin.MenuPrincipalAdmin"
            android:exported="false" />
        <activity
            android:name=".Controller.admin.ActualizarObjeto"
            android:exported="false" />
        <activity
            android:name=".Controller.admin.DetalleObjeto"
            android:exported="false" />
        <activity
            android:name=".Controller.admin.EditarImagenPerfil"
            android:exported="false" />
        <activity
            android:name=".Controller.user.ActualizarPassUsuario"
            android:exported="false" />
        <activity
            android:name=".Controller.admin.PerfilUsuario"
            android:exported="false" />
        <activity
            android:name=".Controller.admin.Configuracion"
            android:exported="false" />
        <activity
            android:name=".Controller.admin.ListarObjetos"
            android:exported="false" />
        <activity
            android:name=".Controller.admin.AgregarObjeto"
            android:exported="false" />
        <activity
            android:name=".Controller.admin.Registro"
            android:exported="false" />
        <activity
            android:name=".Controller.admin.Login"
            android:exported="false" />
        <activity
            android:name=".Controller.PantalaDeCarga"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivityAdmin"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>